In [6]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import numpy as np

from statsmodels.tsa.stattools import grangercausalitytests
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm
from statsmodels.tsa.api import VAR

mpl.rcParams['figure.figsize'] = (10, 8)
mpl.rcParams['axes.grid'] = False

In [4]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.12.2-cp39-cp39-macosx_10_15_x86_64.whl (9.6 MB)
     |████████████████████████████████| 9.6 MB 423 kB/s eta 0:00:01     |███████████████████████▊        | 7.1 MB 2.7 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15 in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from statsmodels) (1.20.3)
Collecting patsy>=0.5
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
     |████████████████████████████████| 231 kB 11.4 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.21 in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from statsmodels) (1.2.4)
Requirement already satisfied: scipy>=1.1 in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from statsmodels) (1.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from pandas>=0.21->statsmodels) (2020.1)
Requirement already satisfied: six in /Users/jaymehdi/venv_e33a/lib/python3.9/site-packages (from patsy>=0.5->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.12.2
WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the '/Users/jaymehdi/venv_e33a/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
df=pd.read_csv('zacs_features1.csv')

In [8]:
df

,Unnamed: 0,RegionName,ZORI,Year,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_median_value,married_households,housing_units_renter_occupied,nonfamily_households,vacant_housing_units_for_rent,...,occupation_natural_resources_construction_maintenance,median_age,total_pop,white_pop,black_pop,hispanic_pop,walked_to_work,commuters_by_public_transportation,commute_10_14_mins,gini_index
0,1,10025,2883,2014,1438,976900,13337,33778,24576,991,...,1269,39.3,97373,54332,9768,21654,6270,32889,2530,0.5699
1,2,10025,2895,2014,1438,976900,13337,33778,24576,991,...,1269,39.3,97373,54332,9768,21654,6270,32889,2530,0.5699
2,3,10025,2907,2014,1438,976900,13337,33778,24576,991,...,1269,39.3,97373,54332,9768,21654,6270,32889,2530,0.5699
3,4,10025,2920,2014,1438,976900,13337,33778,24576,991,...,1269,39.3,97373,54332,9768,21654,6270,32889,2530,0.5699
4,5,10025,2933,2014,1438,976900,13337,33778,24576,991,...,1269,39.3,97373,54332,9768,21654,6270,32889,2530,0.5699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155719,155720,60602,2260,2018,3055,454234,420,377,182,1,...,0,30.6,1244,788,47,81,362,233,79,0.4940
155720,155721,60602,2266,2018,3055,454234,420,377,182,1,...,0,30.6,1244,788,47,81,362,233,79,0.4940
155721,155722,60602,2273,2018,3055,454234,420,377,182,1,...,0,30.6,1244,788,47,81,362,233,79,0.4940
155722,155723,60602,2279,2018,3055,454234,420,377,182,1,...,0,30.6,1244,788,47,81,362,233,79,0.4940
155723,155724,60602,2277,2018,3055,454234,420,377,182,1,...,0,30.6,1244,788,47,81,362,233,79,0.4940